html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;  


}
.logo {
    display: inline-block;
}

    .logo img {
        height: 75px; /* Set the desired height of your icon */
        width: auto; /* Maintain the aspect ratio */
        vertical-align: middle; /* Align the icon vertically */
    }